
/*
 * All Variables
*/

// Colors

$primary-background: #eeeeee;
$secondary-background: white;
$cell-dim: 340px;
$tablet-dim: 600px;
$desktop-dim: 1000px;
$debug-border: 1px solid $primary-background;
$max-width: 650px;
$min-width: 300px;
$dynamic-width: 90%;
$small-font-size: 12px;
$large-font-size: 14px;
$padding: 10px;

// opacity
$opacity: 95%;

// 